@charset "UTF-8";

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

html {
    overflow-y: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(211, 211, 211);
    position: relative;
}

main {
    height: 700px;
    width: 350px;
    background-color: #fff;
    border-radius: 1rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 992px) {
    body {
        max-width: 992px;
        height: 100vh;
        margin: auto;
    }
}
